<li class="note">
  <p class="note-header">
    Larry Reid, 1 hour ago.
    <%= link_to "Edit (only if current user is original author)", "#" %>
  </p>
  <p class="note-body">
    Note 1. Some text.
  </p>
</li>
