<div class="container">
  <h1 class="text-center">Features</h1>
  Outages features allow the user to efficiently document
  their services' infrastructure and effectively communicate key
  information to users about upcoming planned outages.

  <div class="feature-head">
    Users only receive notifications on items they are interested in.
  </div>
  <div class="feature-body">
    Users can manage which services or outages they wish to keep informed on.
    Further, the user can manage which outage events concern them.  This way
    important information that user needs is never lost in the noise of message
    overload.  The user knows that if Outages is telling them something, the
    user is going to be very interested in what that something is.
  </div>

  <div class="feature-head">
    Email notifications proactively ensure all interested users are ready for
    an outage.
  </div>
  <div class="feature-body">
    Users can be informed of new outages, changes to outages, outage completion
    as well as setting up reminders before outages start.  Each user has
    a personal report of these events that they can see when they use the
    application - but they may also choose to receive important notifications
    by email.  That way, Outages is working for the users even when they are
    busy with other tasks.
  </div>

  <div class="feature-head">
    Outages allows you to capture and maintain your infrastructure architecture.
  </div>
  <div class="feature-body">
      The architecture is captured as a set of services or configuration items.
      Each service may include a list of dependent services.  This defines a
      set of other services that will go down in the event of an outage
      for the service.  With all of the dependencies
      captured, Outages will now inform interested users for <strong>all
      </strong> systems impacted by an outage.  No more surprised "I forgot that
      system would be affected"
  </div>

  <div class="feature-head">
    At a glance picture of all the outages
  </div>
  <div class="feature-body">
    Managers can set up Outages to give them a daily, weekly or monthly snap
    shot of all the planned outages on services that they are responsible for.
  </div>

</div>
