<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <h1 class="text-center">Pricing</h1>
      <p>
        While Outages is in an alpha state
        (meaning the application is new,
        features are being experimented on all the time,
        and bugs are being worked out),
        it's free.
        We welcome you to try the application,
        and give us your feedback.
      </p>
      <p>
        We haven't determined the pricing structure yet,
        but we're sure it won't be by user.
        The value of Outages is in communication,
        so everyone in your organization
        should have access to the application,
        without worrying about cost.
      </p>
    </div>
  </div>
</div>
