<li class="event">
  Start time changed by Phil Carrillo 2 days ago.
  Not all events would show up, e.g. reminder events wouldn't be shown.
  And we may actually want to show events that we don't currently generate events for.
</li>
