Found a match with a note from outage <%= link_to outage_note.notable.name, outage_path(outage_note.notable) %>
  <div class="search-details">
    Note was made by
    <span style="font-style: italic">
      <%= outage_note.name %>
    </span>
    <%= distance_of_time_in_words(outage_note.updated_at,
                                  Time.zone.now,
                                  options = {include_seconds: true }) %>
    ago-
    "<%= outage_note.note.truncate(80, separator: ' ') %>"
  </div>
