<h1>Search Results</h1>
<% if @results.empty? %>
<p>
No results found for search criteria <strong><%= @search_criteria %></strong>.
</p>
<% else %>
<p>
  Found <%= pluralize(@results.size, "result") %>
  for the search criteria <strong><%= @search_criteria %></strong>.
</p>
<ul class="list-unstyled">
  <% @results.map(&:searchable).each do |result| %>
  <li class="search-result">
    <%= render partial: result.class.to_s.downcase, object: result %>
  </li>
  <% end %>
</ul>
<% end %>
