<%= calendar(number_of_days: 4, events: @outages, open_closed: true) do |date, outages| %>
  <%= date %>
  <ul class="list-unstyled">
    <% outages.each do |outage| %>
      <li>
        <%= detailed_calendar_outage(outage, date) %>
      </li>
    <% end %>
  </ul>
<% end %>
