<%= month_calendar(events: @outages, open_closed: true) do |date, outages| %>
  <%= date %>
  <% outages.each do |outage| %>
    <div class="test-outages-month">
      <%= outage.name %>
    </div>
  <% end %>
<% end %>
