<div class="test-outages-month">
  <%= month_calendar(events: @outages,
  start_date: start_date,
  open_closed: true) do |date, outages| %>
  <%= date.day %>
  <% outages.each do |outage| %>
  <div class="">
    <%= outage.name %>
  </div>
  <% end %>
  <% end %>
</div>
