<ul>
  <li>Button to delete. Delete must be un-doable. Delete doesn't actually remove the record from the database.</li>
  <li>Select configuration item(s) via the two boxes model that you move
      items between attached and unattached.</li>
  <li>Button to add configuration item (and add all)</li>
  <li>Button to remove configuration item (and delete all)</li>
  <li>Button to create a new configuration item</li>
  <li>Scrollable box with notes in reverse chronological order</li>
  <li>Add/Edit notes attached to outage (connects on a blog post-type model TBC)</li>
  <li>Button to create a group based on the CIs selected for this outage.</li>
</ul>

<h2>Attributes</h2>
<ul>
  <li>Short Description</li>
  <li>Long Description</li>
  <li>Start Date/Time</li>
  <li>End Date/Time</li>
  <li>Causes outage or not</li>
</ul>
