<div class="test-outages-week">
  <%= week_calendar(events: @outages,
      start_date: start_date,
      open_closed: true) do |date, outages| %>
  <%= date.day %>
  <ul class="list-unstyled">
    <% outages.each do |outage| %>
    <li>
      <%= detailed_calendar_outage(outage, date) %>
    </li>
    <% end %>
  </ul>
  <% end %>
</div>
