.border {
  border-style: solid;
  border-width: 1px;
}

.hidden {
  display: none;
}

label.required:after {
  content: " *";
  // TODO: The following expands the container, but otherwise works.
  vertical-align: sub;
  @extend .text-danger;
}

.has-danger {
  @extend .text-danger;
}
