.feature-head {
  font-style: italic;
  font-size: 110%;
  font-weight: bold;
  margin-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
}

.feature-body {
  margin-top: 5px;
  padding-left: 50px;
  padding-right: 50px;
  }
