.note {
  @extend .mb-2;
  @extend .p-1;
  @extend .border;
  @extend .rounded;

  .note-header {
    width: 100%;
    @extend .bg-info;
    @extend .text-white;
    padding: inherit;
  }

  .note-body {
    padding: inherit;
  }
}
