td {
  border: 1px solid;
  padding: 5px;
  text-align: center;
}
// ul {
//   list-style-type: circle;
// }
.menu-item {
  border: 1px solid #DDDDDD;
  padding: 5px;
  text-align: center;
}

.content-note {
  background-color: #F3F3FF;
  margin: 4px;
  padding: 2px 20px 2px 20px;
  border: 1px dotted gray;
  display: none;
}

.space-above {
  margin-top: 75px;
}

.format-footer {
  color: #6F6F76;
  font-size: 90%;
}
