<div class="container text-center space-above format-footer">
  <div class="format-footer">
    Outages is developed and maintained by
  </div>
  <%= link_to "We Enhance It", "http://weenhanceit.com" %>
  <div class="format-footer">
    Visit our website to find out how we can help you conquer your custom
    software challenges
  </div>
</div>
