<div class="spinner"></div>
<div class="container messages">
  <ul class="text-warning js-time-zone-warning">
    <%= content_tag(:li, notice) unless notice.blank? %>
  </ul>
  <ul class="text-danger js-error-messages">
    <%= content_tag(:li, alert) unless alert.blank? %>
  </ul>
</div>
