<p class="text-warning js-time-zone-warning"><%= notice %></p>
<p class="text-danger"><%= alert %></p>

<%# TODO: Combine this with the above, but have to change the Javascript %>
<div class="text-warning"></div>
