<li class="row no-gutters notification-spacer">
  <div class="col-sm-4">
    <%= bootstrap_form_with model: notification, class: "js-submit-on-change", local: false do |f| %>
    <%# FIXME: Make this work for multiple notifications. %>
    <% f.check_box :notified, label: "Read", id: "notification_notified" %>
    <% end %>
  </div>
  <div class="col-sm-8">
    <div class="notification-item">
      <%= link_to notification.event.outage.name, outage_url(notification.event.outage_id) %>
    </div>
    <div class="notification-text">
      <%= notification.event.text %>
    </div>
    <div class="notification-interval">
      <%= distance_of_time_in_words(notification.event.created_at,
                Time.zone.now,
                options = {include_seconds: true }) %>
      ago
    </div>
  </div>
</li>
