<nav class="navbar navbar-light">
  <!-- Make the rest a container. Bigger screens will seen the menu in the container,
      but smaller screens will see the button on the left. -->
  <div class="container">

    <%= home_link %>
    <!-- The ml-auto and mr-auto classes set the left and right margins
        to auto for justification -->
    <ul class="navbar-nav ml-auto"></ul>
  </div>
</nav>
